.tag {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 20px;
	width: fit-content;
	border-radius: 20px;
	padding: 20px 20px;

	background: #1f1f1f;
	color: var(--pureWhite);

	cursor: pointer;

	transition: all 0.2s ease;
}

.tag:hover {
	background: #2c2c2c;
}
